* {
    margin: 0;
    padding: 0;
}

/* shared style  */
:root {
    --primary-color: #131318;
    --secondary-color: rgba(19, 19, 24, 0.7);
    --orange-color: #FF5400;
}

::selection{
    background-color: var(--orange-color);
    color: #fff;
}

body {
    font-family: "Mulish", sans-serif;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 5px;
}

.img_fluid {
    width: 100%;
}

.d-flex {
    display: flex;
}

.btn {
    color: #fff;
    font-weight: 700;
    background: var(--orange-color);
    cursor: pointer;
    padding: 12px 25px;
    border: none;
    font-size: 20px;
    border-radius: 8px;
}

section {
    padding: 50px 0;
}

/* header style start */
header {
    padding: 30px 0;
}

.header {
    justify-content: space-between;
    align-items: center;
}

.nav_bar ul {
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.nav_bar li {
    list-style: none;
}

.nav_bar a {
    color: #424247;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    transition: color .1s ease-out;
}

.nav_bar a:hover {
    color: var(--orange-color);
}

/* banner style */

.banner {
    background-image: linear-gradient(rgba(19, 19, 24, 1), rgba(19, 19, 24, 0)), url(../Images/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    min-height: 500px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner h1 {
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 24px;
    color: #fff;
}

.banner p {
    color: #fff;
    max-width: 680px;
    margin: 0 auto 50px;
}

.filter_from {
    background: rgba(255, 255, 255, 0.3);
    padding: 16px;
    border-radius: 8px;
}

.filter_from form {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.filter_from form input,
select,
.find_btn {
    padding: 15px 8px;
    border: none;
    width: 25%;
    cursor: pointer;
    /* Arrow */
    appearance: none;
    background-image: url(../Images/down-arrow.png);
    background-repeat: no-repeat;
    background-position: right 0.7rem top 50%;
    background-size: 1.1rem auto;
    border-radius: 8px;
    width: 175px;
    font-weight: normal;
    font-size: inherit;
}

.filter_from form input,
.find_btn {
    background-image: none;
}

.filter_from form input,
select,
.find_btn::placeholder {
    color: var(--secondary-color);
}

.filter_from form input,
select,
.find_btn:focus {
    outline: none;
}

.find_btn svg {
    font-size: 18px;
    margin-right: 5px;
}

/* popular tour style */
.tour {}

.tour_container {
    display: flex;
    justify-content: space-between;
}

.tour_left_item {
    width: 50%;
}

.tour_left_item h1 {
    font-size: 2.7rem;
    font-weight: 800;
    margin-bottom: 24px;
    color: var(--primary-color);
}

.tour_left_item p {
    color: var(--secondary-color);
}

.tour_list {
    margin: 24px 0;
}

.tour_list li {
    color: var(--secondary-color);
    line-height: 28px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.tour_button_space {
    margin-bottom: 2rem;
}

.tour_right_item {
    width: 50%;
    text-align: end;
}


.tour_right_item img {
    max-width: 540px;
}